@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @if (ViewBag.Content != null)
    {
        for (int i = 0; i < ViewBag.Content.Count; i++)
        {
            <div class="container" style="background-color: lightgray; margin: 5px; padding: 15px;">
                @ViewBag.Content[i].Title <br />
                @ViewBag.Content[i].Description <br />
                <a href="@ViewBag.Content[i].Url.Substring(5)"> @ViewBag.Content[i].Url</a> <br />
            </div>
        }
    }
