@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Crawl";
}

<div class="container">
    <h2> Crawling Done </h2>
    <button class="btn btn-info"  onclick="location.href='@Url.Action("Index", "Home")'">Back &raquo;</button>
</div>




